name: "Validate"
on:
  merge_group:
  pull_request:
  push:
    branches:
      - main

jobs:
  validation:
    name: "Gradle Wrapper Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5
  build:
    name: "Javaagent Gradle Plugin Validation"
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 25

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.1
        with:
          cache-read-only: false

      - name: Execute Gradle build
        run: ./gradlew build
